<div class="single">
  <div class="container">
    <div class="single-top wow bounceInLeft" data-wow-delay="0.3s">
      <div class="img-responsive wow fadeInUp animated">
        <%= image_tag @tour.cover %>
      </div>
      <div class="lone-line">
        <center><h3><%= @tour.name %></h3></center>
        <ul class="grid-blog">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="well well-sm">
                <h3>
                  <li><span><i class="glyphicon glyphicon-time">
                    </i><%= @tour.duration %></span>
                  </li>
                  <li><i class="glyphicon glyphicon-sound-dolby">
                    </i><%= @tour.price %><%= t :money %>
                  </li>
                </h3>
                <%= rating_for @tour, "quality",
                  star_path: "/images/ratyrate" %>
                <% if policy(@booking).new? %>
                  <div>
                    <%= render "bookings/new" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </ul>
        <p class="wow fadeInLeft animated" data-wow-delay=".5s">
          <h5>
            <span><%= @tour.description.html_safe %></span>
          </h5>
        </p>
      </div>
    </div>
    <div class="leave wow bounceInLeft" data-wow-delay="0.3s">
    </div>
  </div>
</div>
<div class="comment wow bounceInRight" data-wow-delay="0.3s">
  <h3>Comments</h3>
  <%= render partial: "comments/form", locals: {commentable: @tour} %>
  <div class="commentsd">
    <% if @comments.any? %>
      <%= render @comments, commentable: @tour %>
    <% end %>
  </div>
</div>
